.card {
    width: 375px;
    height: 388px;
    box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    word-break: break-word;
    margin: 20px 10px;
}

.card:hover {
    box-shadow: 5px 5px 10px 4px rgb(125, 69, 188);
    transform: scale(1.04);
    transition: .5s;
}

.card img {
    margin-top: 45px;
}

.card h1 {
    font-size: 20px;
    width: 253px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.card p {
    width: 285px;
    margin: auto;
    font-size: 15px;
}